<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/send" method="post">
            <label for="sender email">sender email</label>
            <input type="email" name="smail" id="sender-email">
            <label for="reciever email">reciever email</label>
            <input type="email" name="rmail" id="reciever-email">
            <label for="subject">subject</label>
            <input type="text" name="subject">
            <label for="message">message</label>
            <input type="text" name="message">
            <button type="submit" style="background-color: red;">Send</button>
        </form>
    </body>
</html>             